      @font-face {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 300;
          src: url('../font/OpenSans-Regular.ttf');
      }
      
      body {
          font-family: "Lato" !important;
          background: #f7f9fc !important;
      }
      
      .invisible {
          visibility: hidden;
      }
      
      input[type="button"] {
          margin-bottom: 0;
      }
      
      .profile {
          width: 50%;
          height: 50%;
          border-radius: 50%;
          display: block;
          margin: auto;
      }
      
      .team-container {
          box-shadow: 0 0 10px #aaa;
          -moz-box-shadow: 0 0 10px #aaa;
          -webkit-box-shadow: 0 0 10px #aaa;
          -o-box-shadow: 0 0 10px #aaa;
          padding: 20px 10px;
          margin-bottom: 30px;
          height: 300px;
          text-align: center;
          background: #fff;
      }
      
      h1 {
          font-size: 22px !important;
          margin-top: 5px !important;
          margin-bottom: 0px !important;
          letter-spacing: 0.5px;
      }
      
      h2 {
          font-size: 18px !important;
          margin-top: 0px !important;
          margin-bottom: 0px !important;
          letter-spacing: 0.5px;
      }
      
      h3 {
          font-size: 13px !important;
          margin-top: 0px !important;
          margin-bottom: 0px !important;
          letter-spacing: 0.5px;
      }
      
      h4 {
          font-size: 10px !important;
          margin-top: 5px !important;
          margin-bottom: 0px !important;
          letter-spacing: 1px;
      }
      
      a {
          text-decoration: none !important;
          color: #848484 !important;
      }
      
      a:focus {
          outline: none !important;
          color: #848484 !important;
      }
      
      a:hover {
          text-decoration: none !important;
          color: #848484 !important;
      }
      
      .weight {
          padding-right: 0px !important;
          padding-left: 0px !important;
          letter-spacing: 1px;
      }
      
      .red {
          padding-top: 10px;
          color: red;
      }
      
      .blue {
          color: #02d1c7;
      }
      
      .green {
          padding-top: 10px;
          color: green;
      }
      
      input {
          border: #000;
          padding: 10px;
          font-size: 30px;
          width: 100%;
      }
      
      input::placeholder {
          color: rgb(151, 151, 151);
      }
      
      label,
      input {
          font-family: sans-serif;
      }
      
      form {
          width: 60%;
          margin: 10px auto 10px auto;
      }
      
      .myButton {
          -moz-box-shadow: 1px 2px 5px 1px #6d706c;
          -webkit-box-shadow: 1px 2px 5px 1px #6d706c;
          box-shadow: 1px 2px 5px 1px #6d706c;
          background-color: #1aa3a3;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border: 2px solid #117070;
          display: inline-block;
          cursor: pointer;
          color: #ffffff !important;
          font-size: 28px;
          position: absolute;
          bottom: 30px;
          right: 60px;
          font-weight: bold;
          padding: 20px 30px;
          text-decoration: none;
          text-shadow: 1px 1px 3px #0b5e56;
          z-index: 9;
      }
      
      .myButton:hover {
          background-color: #247e7e;
          color: #fff !important;
          border: 2px solid #084e4e;
      }
      
      .myButton:active {
          position: absolute;
      }
      
      .mybirth {
          -moz-box-shadow: 1px 2px 5px 1px #6d706c;
          -webkit-box-shadow: 1px 2px 5px 1px #6d706c;
          box-shadow: 1px 2px 5px 1px #6d706c;
          background-color: #1aa3a3;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border: 2px solid #117070;
          display: inline-block;
          cursor: pointer;
          color: #ffffff !important;
          font-size: 28px;
          position: absolute;
          top: 70px;
          right: 58px;
          font-weight: bold;
          padding: 25px 25px;
          text-decoration: none;
          text-shadow: 1px 1px 3px #0b5e56;
          z-index: 9;
      }
      
      .mybirth:hover {
          background-color: #247e7e;
          color: #fff !important;
          border: 2px solid #084e4e;
      }
      
      .mybirth:active {
          position: absolute;
      }
      
      .form input {
          display: inline-block;
          width: 65%;
      }
      
      .form input[type=radio] {
          display: inline-block;
          width: 10%;
          height: 15px;
      }
      
      .modal-title {
          text-align: center;
      }
      
      .badge {
          position: absolute;
          top: 10px;
          font-size: 15px!important;
          right: -10px;
          background-color: red !important;
      }
      
      #myModal .modal-dialog {
          width: 800px !important;
      }
      
      .modal-content input {
          margin-bottom: 5px;
          height: 30px;
          padding: 6px 5px;
      }
      
      .modal-content textarea {
          margin-bottom: 5px;
      }
      
      #imageUpload {
          display: none;
      }
      
      #profileImage {
          cursor: pointer;
      }
      
      #profile-container {
          position: relative;
          margin: auto;
          width: 135px;
          height: 135px;
          overflow: hidden;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          border: 1px #dedede solid;
      }
      
      #profile-container img {
          width: 135px;
          height: 135px;
      }
      
      .overlay {
          position: absolute;
          top: 0;
          cursor: pointer;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: #000;
      }
      
      .text {
          color: white;
          z-index: 1;
          font-size: 20px;
          position: absolute;
          top: 50%;
          text-align: center;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      }
      
      #profile-container:hover .overlay {
          opacity: 0.5;
      }
      
      label {
          width: 100px;
          vertical-align: top;
      }
      
      #mybirth .modal-dialog {
          width: 500px;
      }
      
      #tablebirthday {
          height: 70%;
      }
      
      .label1 {
          display: inline-block;
          max-width: 100%;
          margin-bottom: 5px;
          font-weight: 700;
          width: 70px;
          vertical-align: top;
          color: #333;
      }
      
      .b_profile {
          width: 100px;
          height: 100px;
          float: left;
          margin-left: 10px;
          margin-right: 10px;
          border-radius: 50%;
      }
      
      .b_team-container {
          box-shadow: 0 0 10px #aaa;
          -moz-box-shadow: 0 0 10px #aaa;
          -webkit-box-shadow: 0 0 10px #aaa;
          -o-box-shadow: 0 0 10px #aaa;
          padding: 5px 0px;
          margin-bottom: 10px;
          height: 110px;
          background: #fff;
      }
      
      input[type=date] {
          border: 1px solid #D1D1D1;
          border-radius: 4px;
      }
      
      #height_feet,
      #height_inch {
          width: 28%!important;
          margin-right: 10px
      }
      
      input[aria-invalid="true"],
      textarea[aria-invalid="true"] {
          border: 1px solid #f00;
          box-shadow: 0 0 4px 0 #f00;
      }
      
      #wrap {
          width: 500px;
          position: relative;
          left: 50%;
          margin-left: -250px;
      }
      
      #header {
          position: relative;
          line-height: 1em;
      }